<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:pt-32 lg:px-8 lg:py-40">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="lg:col-span-5">
        <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Policy/ Terms of Service</h2>
        <p class="mt-4 text-base leading-7 text-gray-600">
          Here are our operation policy/ mode of operation/ terms of service. If you desire to get any of our services will have to agree with these terms.
          Reach out to our <a href="/contact" class="font-semibold text-indigo-600 hover:text-indigo-500">customer support</a> team if you have any questions.</p>
      </div>
      <div class="mt-10 lg:col-span-7 lg:mt-0">
        <dl class="space-y-10">
          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Warranty of information provided by the user</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              The user warrants that all the information they have provided is correct and accurate to the best of their knowledge.
              The user warrants that any names provided are spelt correctly and are stated in the correct order.
              The user further warrants that in the case of any identification number, pin number, or any other number provided,
              the same is written accurately and correctly and Affidavits.Co.Ke will be under no legal obligation to make verifications.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Indemnity</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              The user hereby pledges indemnity for any loss or damage suffered by the user or third parties as a result of all
              the information they have provided for any purpose to the site.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Proof of Identification</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Proof of identification will be required before release of any documents prepared for a user.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">How do you make holy water?</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.</dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Payment</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              A down payment of Ksh 800/- is payable using the application’s prescribed mode of payment when making a
              request for preparation of any document. The balance of Ksh. 200 is payable upon delivery/collection of the document requested.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Collection Policy</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Physical collection of the prepared documents shall be at the town/city supplied by the user for collection
              and at an agreed location within the central business district of the town/city. Should the user fail to name
              a town/city for collection, then the prepared document shall be available for collection at the physical address
              of Affidavits, Agreements and Legal Advice during ordinary working hours. Parties may by agreement, agree that the
              prepared document will be sent to the user by ordinary post, registered post or by courier at the user’s expense and
              subject to payment of the balance (which is exclusive of mailing fees) before the document is sent to the user. All users
              within Nairobi will enjoy free delivery of prepared documents within 24 hours of making the request for the document. Should
              you fail to name a town/city for collection, we shall contact you through your stated email address with a view to agreeing on
              modalities of collection.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Refund Policy</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Once payment is made for an order, the money paid for the order is not refundable.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Interlectual Property</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              The content, logo and other visual media contained in the application is the property of Affidavits.Co.Ke
              and is protected by copyright laws currently in force in Kenya. Whereas we do not claim ownership of documents
              prepared at the request of clients or uploaded to our portal by clients, we may preserve the documents in our
              database and disclose the contents thereof if so required by law or in good faith. Except where expressly stated
              otherwise, all right, title, and interest in and to the application and all Content, source code, processes, designs,
              technologies, URLs, domain names, marks, and logos forming any part of the application's (collectively, "Our Content") are
              <ul class="list-inside list-disc">
                <li>
                  fully vested in us, our licensors, or our suppliers and
                </li>
                <li>
                  protected by applicable copyrights, trademarks, patents, trade secrets, or other proprietary rights and laws.
                </li>
              </ul>
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Governing Law</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              The Applicable law in relation to any legal matters that may result from use of the application will be the laws of
              Kenya and the relationship of parties will be construed as per laws of Kenya.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Warranty of Competence by User</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              If you are an individual, you represent and warrant that you have reached the age of majority in the
              jurisdiction in which you reside, and that you are in any event at least 18 years old. If you are using
              the application on behalf of a corporation or other organization, you represent and warrant that you have the
              ability to agree to these Terms on behalf of such organization and all references to "you" throughout these
              Terms will include such organization, jointly and severally with you personally.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Dispute Resolution</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Disputes arising from the relationship between parties will be adjudicated exclusively using the laws of Kenya.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Force Marjoure</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Neither party will be responsible for a failure to fulfil its obligations under these Terms or for delay
              in doing so if such failure or delay is due to circumstances beyond its reasonable control, such as acts of nature,
              acts of government, war, riots, strikes and accidents in transportation, but excluding a lack of financing, cash or credit.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Termination</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              Users’ accounts on the application or users’ access to the application can be terminated in case of abuses or at your sole discretion.
              Access to all or parts of any of the applications may be suspended at any time without notice. All terms herein which should by their
              nature survive termination shall survive termination including, without limitation, ownership provisions, warranty disclaimers,
              indemnity and limitations of liability.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Use of Application and Indemnity</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              The user hereby commits to indemnify Affidavits.Co.Ke for any use of the site by the user. You will use the applications only
              for lawful purposes. The user hereby commits to indemnify Affidavits, Agreements and Legal Advice for any use of the site by
              the user which is suspected, determined or adjudicated to be unlawful.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Agreement to be bounded by these terms</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              You agree that access and use of Our Content is subject to these Terms, including the disclaimers and limitations of liability herein.
              Nothing in your use of the applications or these Terms grants you any right, title or interest in or to Our Content except the limited right
              to use the applications as set out in these Terms.
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Unless Authorized in wriritng, you agree not to:</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              <ul class="list-inside list-disc">
                <li>
                 Copy, modify, deep link, rent, lease, loan, sell, assign, sublicense, grant a security interest in or
                 otherwise transfer any right or interest in Our Content;
                </li>
                <li>
                 Remove any proprietary notices or labels on or in Our Content;
                </li>
                <li>
                  Allow any other person or entity to engage in any of the above.
                </li>
                <li>
                  Abuse, harass, threaten, impersonate or intimidate anyone.
                </li>
                <li>
                  To post or transmit or to cause to be posted or transmitted content that is libelous, defamatory, obscene,
                  pornographic, abusive, offensive, profane, or that infringes any copyright or right of another person.
                </li>
                <li>
                  Create and transmit unwanted ‘spam’ to any person or any URL.
                </li>
              </ul>
            </dd>
          </div>

          <div>
            <dt class="text-base font-semibold leading-7 text-gray-900">Entire Agreement</dt>
            <dd class="mt-2 text-base leading-7 text-gray-600">
              These Terms, as amended from time to time, including any and all documents, applications, rules, Terms and policies referenced herein,
              including but not limited to the Privacy statement, constitutes the entire agreement between us and you with respect to your use of
              the application.
            </dd>
          </div>

        </dl>
      </div>
    </div>
  </div>
</div>
